body{
    margin: 0;

}

*{
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
}

#border-box{
    border: 10px solid #F4F4F4;
    padding: 20px;
    margin: 40px;
}
#header-date{
    text-align: right;
    font-weight: bold;
    padding: 3px;
}

#header{
    display: block;
    border-bottom: 2px solid #E1E1E1;
    margin-bottom: 50px;
}

.newers-time-logo{
    float: right;
}

.article{
    width: 100%;
    margin-bottom: 30px;
}

.left-top-article{
    width: 50%;
    float: left;
    padding: 5px;
}

.right-top-article{
    width: 50%;
    float: left;
    padding: 5px;
}

.top-article-header{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

#img-section{
    width: 100%;
    padding-bottom: 20px;
}

.left-img-section{
    float: left;

}

.right-img-section{
    float: right;

}

.top-right-img{
    padding-bottom: 10px;
}

#blog-header-img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.author-name{
    font-size: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.bottom-article-header{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 2px;
}

.read-more-link{
    text-decoration: none;
    color: deeppink;
    font-weight: bold;
}

.footer-icons{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

footer{
    padding: 50px;
}

.footer-icons  ul{
    list-style-type: none;
}

.footer-icons ul li{
    display: inline-block;
}